
.hottext-hit-area {
  display: inline-block;
  width: 4em;
  padding: .5em 1em;
  cursor: pointer;
}

.hottext-label {
  border-bottom: 1px dotted #07c;
  color: #07c;
}

.hottext-dragging,
.hottext-dragging .hottext-label {
  -webkit-user-select: none;
  cursor: ew-resize;
}

.hottext-invalid input {
  outline: 2px solid red;
}
